/* colors */
$dark-grey     : #252525;
$red           : #ba4e4e;
$green         : #339635;
$blue          : #3267b8;
$orange        : #be6c15;
$max-app-width : 710rem;

/* _todo */
$light-grey    : #343434;
$light-light-grey : #565656;

/* button */
$btn-height    : 4.5rem;
