/* colors */
$bg-grey       : #252525;
$red           : #ba4e4e;
$green         : #339635;
$blue          : #3267b8;
$orange        : #bc8640;
$max-app-width : 710rem;

/* _todo */
$todo-bg       : #343434;

/* button */
$btn-height    : 4.5rem;
