.creation-container {
    align-items     : center;
    border-bottom   : .1px solid grey;
    display         : flex;
    flex-direction  : column;
    height          : 30rem;
    justify-content : space-between;
    padding         : 2rem 0;
    }
