.header {
    font-size : 4rem;
    margin    : 3rem;
    
    &-container {
        @include flex($dir : column);
        border-bottom  : .3px solid gray;
        font-size      : 2rem;
        padding-bottom : 2rem;
    }
}
