.btn {
  background    : $blue;
  border-radius : 2px;
  cursor        : pointer;
  height        : $btn-height;
  text-align    : center;
  width         : 16rem;

  &__container {
    //border-bottom  : .3px solid gray;
    //display        : flex;
    //margin         : 3rem 0;
    //padding-bottom : 2rem;
    //place-items    : center;
    //place-content  : center;
    //width          : 100%
    margin : 3rem 3.5rem;
  }
}
