.btn {
  background    : $blue;
  border-radius : 2px;
  cursor        : pointer;
  height        : $btn-height;
  text-align    : center;
  width         : 16rem;

  &__container {
    margin : 3rem 3.5rem;
  }
}
