.checkbox {
    @include circle(4rem);
    background : $light-light-grey;
    cursor     : pointer;
    
    &-container {
        @include flex;
        font-size : 1.6rem;
    }
    
    &-label {
        margin-left : 1.5rem;
    }
    
    &-modal {
        @extend .checkbox;
        margin-bottom : 1.5rem;
    }
}

.checked {
    background-color : $orange;
}
