.footer {
    align-items:        center;
    background:         #343434;
    bottom:             0;
    color:              #979797;
    display:            flex;
    font-weight:        200;	 
    height:             8rem;
    justify-content:    center;
    left:               0;
    position:           absolute;
    text-align:         center;
    width:              100vw;
}
