.input {
  border        : none;
  border-radius : 3px;
  flex-shrink   : 0;
  font-size     : 1.4rem;
  font-weight   : 300;
  height        : 6rem;
  text-align    : center;
  width         : 30rem;

  &-edit {
    border        : none;
    border-radius : 3px;
    flex-shrink   : 0;
    font-size     : 1.4rem;
    font-weight   : 300;
    height        : 5rem;
    text-align    : center;
    width         : 35rem;

  }

  &-container {
    display         : flex;
    justify-content : space-between;
    place-items     : center;
    width           : 30rem;

    &-edit {
      display         : flex;
      justify-content : space-between;
      place-items     : center;
      width           : 15rem;
    }

    &-main {
      display       : flex;
      place-content : space-evenly;
    }
  }

  &-label {
    color       : black;
    font-size   : 1.2rem;
    position    : absolute;
    margin-left : 1.3rem;

    &-edit {
      color       : black;
      font-size   : 1.2rem;
      position    : absolute;
      margin-left : 1.3rem;
    }
  }

  &-icon {
    color     : $blue;
    font-size : 1.2rem;
    position  : relative;
    right     : 2.2rem;

    &-edit {
      color     : $blue;
      font-size : 1.2rem;
      position  : relative;
      right     : 2.2rem;
    }
  }

}
