.input {
  border        : none;
  border-radius : 3px;
  flex-shrink   : 0;
  height        : 6rem;
  width         : 30rem;

  &__container {
    display         : flex;
    justify-content : space-between;
    //place-content   : center;
    place-items     : center;
    width           : 30rem;

    &-main {
      display       : flex;
      place-content : space-evenly;
      //place-items   : center;
    }
  }

  &__label {
    position : absolute;
    margin-left: 1.3rem;
  }

  &__icon {
    position : relative;
    right    : 2.2rem;
  }
}
