.todo {
    align-items           : center;
    background            : $light-grey;
    border-radius         : 2px;
    box-shadow            : 0 6px 6px rgba(0, 0, 0, 0.4);
    cursor                : grab;
    display               : grid;
    grid-template-columns : 8rem 13rem 40rem 6rem;
    height                : max-content;
    margin                : 2rem 0;
    padding               : 2rem;
    
    &-container {
        border-bottom : .1px solid grey;
        color         : white;
        max-width     : $max-app-width;
        
        &-content {
            align-self : flex-start;
            max-width  : 46rem;
            padding    : 2rem;
        }
        
        &-edit {
            width : 13rem;
        }
        
        &-header {
            cursor     : unset !important;
            font-size  : 1.1rem;
            position   : sticky;
            text-align : center;
            top        : 0;
            z-index    : $todo-headers-z-index;
        }
        
        &-info {
            align-self  : flex-start;
            line-height : 2.2rem;
            margin-top  : 2rem;
            max-width   : 14.5rem;
            text-align  : center;
            
            &-edit {
                @include flex($align : none, $justify : space-between);
                width : 54rem;
            }
        }
        
        &-option {
            @include flex($dir : column, $justify : space-between);
            font-size : 2rem;
            height    : 10rem;
        }
    }
    
    &-content {
        font-size   : 1.3rem;
        line-height : 2rem;
        word-break  : break-all;
    }
    
    &-option {
        
        &-complete, &-delete, &-edit {
            cursor : pointer;
        }
        
        &-complete {
            color : $green;
        }
        
        &-delete {
            color : $red;
        }
        
        &-edit {
            color     : $yellow;
            font-size : 1.7rem;
        }
    }
    
    &-title {
        @include font(1.4rem, 400);
        max-width  : 14.5rem;
        text-align : center;
        word-break : break-word;
    
        &-info {
            border-bottom : 1px solid white;
            @include font(1.4rem, 400);
        }
    }
}


/* Classes for JavaScript manip */

.NA {
    @include input-border($blue);
}

.valid {
    @include input-border($green);
}

.invalid {
    @include input-border($red);
}

