.todo {
  background    : $light-grey;
  border-radius : 2px;
  display       : flex;
  margin        : 2rem 0;
  padding       : 2rem;

  &__container {
    max-width : $max-app-width;
  }

  &__option {
    &-container {
      align-items    : center;
      display        : flex;
      flex-direction : column;
      margin-top     : 3rem;

    }

    &-complete, &-delete {
      cursor : pointer;
    }

    &-complete {

    }

    &-delete {
      margin : 2rem 0;
    }
  }

  &__info {
    &-container {
      display        : flex;
      flex-direction : column;
      margin-right   : 2rem;

      &-alt {
        display : flex;
      }
    }

    &-title {
      border-bottom : 1px solid white;
      font-weight   : 400;
    }
  }

  &__content {
    &-container {
      margin    : auto;
      max-width : 46rem;
    }
  }
}

.todo-sm {
  height : 11rem;

  &-info-container {
    display   : flex;
    max-width : 14.5rem;
  }

  &-title {
    border-bottom : 1px solid white;
    font-size     : 1.4rem;
    font-weight   : 400;
    height        : min-content;
    max-width     : 14.5rem;
    text-align    : center;
    word-break    : anywhere;

    &-container {
      display        : flex;
      flex-direction : column;
    }
  }

  &-content {

    &-container {
      display     : flex;
      place-items : center;
    }
  }

  &-option {
    &-container {
      align-items    : center;
      display        : flex;
      flex-direction : column;
      font-size      : 2rem;
      margin         : 0 3rem;
    }
  }

}


/* Classes for JavaScript manip */

.NA {
  border-bottom : 5px solid #3267b8;
}

.valid {
  border-bottom : 5px solid #339635;
}

.invalid {
  border-bottom : 5px solid #ba4e4e;
}

