/* button */
.btn {
  color       : white;
  font-size   : 1.3rem;
  line-height : $btn-height;
  text-align  : center;
}

/* checkbox */
.checkbox__container {
  font-size : 1.6rem;
}

/* header */
.header {
  font-size : 4rem;

  &__container {
    font-size : 2rem;
  }
}

/* input */
.input {
  font-size   : 1.4rem;
  font-weight : 300;
  text-align  : center;

  &__label {
    color     : black;
    font-size : 1.2rem;
  }

  &__icon {
    color     : $blue;
    font-size : 1.2rem;
  }
}

/* _todo */
.todo {
  &__container {
    color : white;
  }

  &__option {
    &-container {
      font-size : 2rem;
    }

    &-complete {
      color : $green;
    }

    &-delete {
      color : $red;
    }
  }

  &__info {
    &-title {font-size : 1.4rem;}
  }

  &__content {
    font-size   : 1.3rem;
    line-height : 2rem;
    word-break  : break-all;

  }
}
