.m {
  &-l {
    &-1 {
      margin-left : 1rem;
    }

    &-2 {
      margin-left : 2rem;
    }

    &-3 {
      margin-left : 3rem;
    }

    &-4 {
      margin-left : 4rem;
    }

    &-5 {
      margin-left : 5rem;
    }

    &-6 {
      margin-left : 6rem;
    }

    &-7 {
      margin-left : 7rem;
    }

    &-8 {
      margin-left : 8rem;
    }
  }

  &-r {
    &-1 {
      margin-right : 1rem;
    }

    &-2 {
      margin-right : 2rem;
    }

    &-3 {
      margin-right : 3rem;
    }

    &-4 {
      margin-right : 4rem;
    }

    &-5 {
      margin-right : 5rem;
    }

    &-6 {
      margin-right : 6rem;
    }

    &-7 {
      margin-right : 7rem;
    }

    &-8 {
      margin-right : 8rem;
    }
  }

  &-t {
    &-1 {
      margin-top : 1rem;
    }

    &-2 {
      margin-top : 2rem;
    }

    &-3 {
      margin-top : 3rem;
    }

    &-4 {
      margin-top : 4rem;
    }

    &-5 {
      margin-top : 5rem;
    }

    &-6 {
      margin-top : 6rem;
    }

    &-7 {
      margin-top : 7rem;
    }

    &-8 {
      margin-top : 8rem;
    }
  }

  &-b {
    &-1 {
      margin-bottom : 1rem;
    }

    &-2 {
      margin-bottom : 2rem;
    }

    &-3 {
      margin-bottom : 3rem;
    }

    &-4 {
      margin-bottom : 4rem;
    }

    &-5 {
      margin-bottom : 5rem;
    }

    &-6 {
      margin-bottom : 6rem;
    }

    &-7 {
      margin-bottom : 7rem;
    }

    &-8 {
      margin-bottom : 8rem;
    }
  }

  &-x {
    &-1 {
      margin : 1rem 0;
    }

    &-2 {
      margin : 2rem 0;
    }

    &-3 {
      margin : 3rem 0;
    }

    &-4 {
      margin : 4rem 0;
    }

    &-5 {
      margin : 5rem 0;
    }

    &-6 {
      margin : 6rem 0;
    }

    &-7 {
      margin : 7rem 0;
    }

    &-8 {
      margin : 8rem 0;
    }
  }

  &-y {
    &-1 {
      margin : 0 1rem;
    }

    &-2 {
      margin : 0 2rem;
    }

    &-3 {
      margin : 0 3rem;
    }

    &-4 {
      margin : 0 4rem;
    }

    &-5 {
      margin : 0 5rem;
    }

    &-6 {
      margin : 0 6rem;
    }

    &-7 {
      margin : 0 7rem;
    }

    &-8 {
      margin : 0 8rem;
    }
  }
}
