/*
Variables that are 'meta', like reusable colors and body rules are up here. Variables specific to a component are found above that component. Components are labeled.
*/

$bg-grey        : #252525;
$red            : #ba4e4e;
$green          : #339635;
$blue           : #3267b8;
$orange         : #bc8640;
$max-app-width  : 710rem;

* {
  margin          : 0;
  padding         : 0;
  box-sizing      : inherit;
}

html {
  font-size: 62.5%
}

body {
  box-sizing      : border-box;
  background      : $bg-grey;
  color           : whitesmoke;
  display         : flex;
  flex-direction  : column;
  font-family     : Roboto, sans-serif;
  font-weight     : 300;
}

.main-container {
  display         : flex;
  flex-direction  : column;
  margin          : auto;
}

// header

.header{
  &__container {
    border-bottom     : .3px solid gray;
    display           : flex;
    flex-direction    : column;
    font-size         : 2rem;
    margin-bottom     : 2.5rem;
    padding-bottom    : 2rem;
    place-items       : center;
    place-content     : center;
  }
  margin          : 3rem;
  font-size       : 4rem;
}

// input

.input {
  border          : none;
  border-radius   : 3px;
  font-size       : 1.4rem;
  font-weight     : 300;
  height          : 6rem;
  text-align      : center;
  width           : 30rem;
  
  &__container{ 
    &-main {
      display           : flex;
      place-contents    : center;
      place-items       : center;
    }
   
  }
  
  &__label {
    color     : black;
    font-size : 1.2rem;
    position  : relative;
    left      : 3.8rem;
  }
  
  &__icon {
    color         : $blue;
    font-size     : 1.2rem;
    position      : relative;
    right         : 2.2rem;
  }
}

// button
$btn-height   : 4.5rem;

.btn {
  background        : $blue;
  border-radius     : 2px;
  color             : white;
  font-size         : 1.3rem;
  height            : $btn-height;
  line-height       : $btn-height;
  text-align        : center;
  width             : 16rem;
  
  &__container {
    border-bottom     : .3px solid gray;
    display           : flex;
    margin            : 3rem 0;
    padding-bottom    : 2rem;
    place-items       : center;
    place-content     : center;
    width             : 100%
  }
}

/******* todos *******/
$todo-bg               : #343434;

.todo {
  background          : $todo-bg;
  border-radius       : 2px;
  display             : flex;
  margin              : 2rem 0;
  padding             : 2rem;
  
  &__container {
    color         : white;
    max-width     : $max-app-width;
  }
  
  &__option {
    &-container {
      align-self        : center;
      align-items       : center;
      border-radius     : 2px;
      display           : flex;
      flex-direction    : column;
      font-size         : 2rem;
      margin-top        : 2rem;
      width             : 100%;
    }
     &-complete {
       color      : $green;   
    }
    &-delete {
      color         : $red;
      margin-top    : 2rem;
    }
  }
  
  &__info {
    &-container {
      display           : flex;
      flex-direction    : column;
      margin-right      : 2rem;
    }
    &-title{font-size: 1.4rem;}
  }
  &__content {
    font-size       : 1.3rem;
    line-height     : 2rem;
    line-spacing    : 1.2rem;
    word-break      : break-all;
    
    &-container {
      margin        : auto;
      max-width     : 46rem;
    }
  }

}

.NA {
  border-bottom: 5px solid #3267b8;
}

.valid {
  border-bottom: 5px solid #339635;
}

.invalid {
border-bottom: 5px solid #ba4e4e;
}
